<div class="row">
    <div class="footer">
        <div class="grid">
            <a href="faq.html" class="footer-link">FAQ</a>
            <a href="feedback.html" class="footer-link">Send Feedback</a>
            <a href="terms.html" class="footer-link">Terms Of Use</a>
            <a href="policy.html" class="footer-link">Privacy Policy</a>
        </div>
        <p class="social">Join us
            <a href="shear/facebook.com" class="facebook" target="_blank"><span class="fa fa-facebook"></span></a>
            <a href="shear/twitter.com" class="twitter" target="_blank"><span class="fa fa-twitter"></span></a>
            <a href="shear/instergram.com" class="instergram" target="_blank"><span class="fa fa-instergram"></span></a>
            <a href="shear/whatsapp.com" class="whatsapp" target="_blank"><span class="fa fa-whatsapp"></span></a>
        </p>
        <p class="copyright">Copyright &copy;2019</p>
    </div>
</div>