<nav class="navbar navbar-expand-md navbar-dark container-fluid">
    <div class="container-fluid">
        <a href="" class="navbar navbar-brand text-danger mr-5 name">NETFLIX</a>
        <a href="" class="navbar navbar-brand text-danger logo">N</a>
        <form class="form-inline" style="display:inline;">
            <input type="text" size="15" placeholder="Search Movie" class="my-sm-0" />
            <button class="" type="submit">
                <i class="fa fa-search"></i></button>
        </form>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#netresponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="netresponsive">
            <ul class="navbar-nav list-inline">
                <li class="nav-item list-inline-item"><a class="nav-link" [routerLink]="['/movies']"
                        routerLinkActive="active">Movies</a></li>
                <li class="nav-item list-inline-item"><a class="nav-link" [routerLink]="['/tvshows']"
                        routerLinkActive="active">TV/Shows</a></li>
                <li class="nav-item list-inline-item"><a class="nav-link" [routerLink]="['/favorite']"
                        routerLinkActive="active">Favorites</a>
                </li>
            </ul>
        </div>
    </div>
</nav>