/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    direction: ltr;
    background-color: rgb(28, 28, 32);
    scroll-behavior: smooth;
    color: rgb(224, 218, 218) !important;
}
