<div class="container">
    <div class="backdrop-wraper">
        <img src="/alhsdj.jpg" alt="nothing" class="bg-img">
        <div class="content-wrap">
            <h1 class="movie-title">{{movie?.title  | uppercase}}</h1>
            <p class="movie-overview1">{{movie?.overview}}</p>
        </div>
        <div class="content-wrap"></div>
    </div>
    <div class="movie-info">
        <div class="info-wrap">
            <p class="info">Release Date: </p><span class="pad-right">{{movie?.release_date | date:'shortDate'}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Length </p><span class="pad-right">{{movie?.runtime}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Porpularity </p><span class="pad-right">{{movie?.popularity}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Votes: </p><span class="pad-right">{{movie?.vote_average}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Vote Count: </p><span class="pad-right">{{movie?.vote_count}}</span>
        </div>
    </div>
    <!-- Gernes -->
    <div class="genres">
        <h2 class="sec-name">Genres</h2>
        <ul>
            <li *ngFor="let genre of movie?.genre_ids" class="genre">{{genre}}</li>
        </ul>
    </div>
    <!-- Overview -->
    <div class="overview">
        <h2 class="sec-name">Overview</h2>
        <p class="movie-overview">{{movie?.overview}}</p>
    </div>
    <!-- Casts -->
    <div class="casts">
        <h2 class="sec-name">Casts</h2>
        <ul>
            <li *ngFor="let genre of movie?.genre_ids" class="cast">{{genre}}</li>
        </ul>
    </div>
        <div class="back-drop" style="background-attachment: fixed; background-image: url(backdrop);">
            <div class="row">
                <div class="col-sm-6">
                    <header class="movie-title">{{movie?.title | uppercase}}</header>
                    <p class="movie-overview">{{movie?.overview}}</p>
                </div>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-md-3">
                    Released<span class="rel-date">{{movie?.release_date | date:'shortDate'}}</span>
            </div>
            <div class="col-md-3">
                Popularity<span class="badge badge-success">{{movie?.popularity | number}}</span>
            </div>
            <div class="col-md-3">
                Votes<span class="badge badge-success">{{movie?.vote_average | number}}</span>
            </div>
            <div class="col-md-3">
                Runtime<span class="badge badge-success">{{movie?.runtime}}</span>
            </div>
        </div>
        <div class="row clearfix">
            <h4 class="clearfix">Genre</h4>
            <br><br>
            <ul class="list-genre list-inline">
                <li class="list-inline-item text-white" *ngFor="let genre of movie.genre_ids">{{genre}}</li>
            </ul>
        </div>
        <div class="row">
            <h4>Overview</h4>
            <p class="movie-overview">{{movie?.overview}}</p>
        </div>
        <div class="row">
            <h4>Casts</h4>
            <ul class="list-casts list-inline">
                <li class="list-inline-item text-white" *ngFor="let genre of movie.genre_ids">{{genre}}</li>
            </ul>
        </div>
</div>