<div class="container-fluid">
    <div class="backdrop-wraper">
        <img [src]="baseimgUrl+movie?.backdrop_path" alt="nothing" class="bg-img">
        <div class="grid">
            <div class="content-wrap">
                <h1 class="movie-title">{{movie?.title  | uppercase}}</h1>
                <p class="movie-overview1">{{movie?.overview}}</p>
            </div>
        </div>
        <div class="grid"></div>
    </div>
    <div class="movie-info">
        <div class="info-wrap">
            <p class="info">Aired</p><span class="pad-right badge">{{movie?.release_date | date}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Length</p><span class="pad-right badge">{{movie?.runtime/60 | number}}hrs</span>
        </div>
        <div class="info-wrap">
            <p class="info">Porpularity</p><span class="pad-right badge">{{movie?.popularity | number: '1.0-0'}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Vote</p><span class="pad-right badge">{{movie?.vote_average/10 | percent: '0.0-0'}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Votes</p><span class="pad-right badge">{{movie?.vote_count}}</span>
        </div>
    </div>
    <!-- Gernes -->
    <div class="genres">
        <h2 class="sec-name">Genres</h2>
        <ul>
            <li *ngFor="let genre of movie?.genres" class="genre">{{genre.name}}</li>
        </ul>
    </div>
    <!-- Overview -->
    <div class="overview">
        <h2 class="sec-name">Overview</h2>
        <p class="movie-overview">{{movie?.overview}}</p>
    </div>
    <!-- Casts -->
    <div class="casts">
        <h2 class="sec-name">Casts</h2>
        <ul>
            <li *ngFor="let genre of movie?.genre_ids" class="cast">{{genre}}</li>
        </ul>
    </div>
</div>