<div class="container-fluid">
    <div class="backdrop-wraper">
        <img [src]="baseimgUrl+tvshow?.backdrop_path" alt="nothing" class="bg-img">
        <div class="grid">
            <div class="content-wrap">
                <h1 class="tvshow-title">{{tvshow?.name  | uppercase}}</h1>
                <p class="tvshow-overview1">{{tvshow?.overview}}</p>
            </div>
        </div>
        <div class="grid"></div>
    </div>
    <div class="tvshow-info">
        <div class="info-wrap">
            <p class="info">Aired</p><span class="pad-right badge">{{tvshow?.first_air_date | date}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Length</p><span class="pad-right badge">12<!--{{tvshow?.runtime | number}}--></span>
        </div>
        <div class="info-wrap">
            <p class="info">Porpularity</p><span class="pad-right badge">{{tvshow?.popularity | number: '1.0-0'}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Vote</p><span class="pad-right badge">{{tvshow?.vote_average/10 | percent: '0.0-0'}}</span>
        </div>
        <div class="info-wrap">
            <p class="info">Votes</p><span class="pad-right badge">{{tvshow?.vote_count}}</span>
        </div>
    </div>
    <!-- Gernes -->
    <div class="genres">
        <h2 class="sec-name">Genres</h2>
        <ul>
            <li *ngFor="let genre of tvshow?.genre_ids" class="genre">{{genre}}</li>
        </ul>
    </div>
    <!-- Overview -->
    <div class="overview">
        <h2 class="sec-name">Overview</h2>
        <p class="tvshow-overview">{{tvshow?.overview}}</p>
    </div>
    <!-- Casts -->
    <div class="casts">
        <h2 class="sec-name">Casts</h2>
        <ul>
            <li *ngFor="let genre of tvshow?.genre_ids" class="cast">{{genre}}</li>
        </ul>
    </div>
</div>